@import "tailwindcss";
@import "tw-animate-css";

@utility bg-dots {
  --dots-color: #0000000f;
  --dots-size: 1.5px;
  --dots-space: 20px;
  background-image: radial-gradient(var(--dots-color) var(--dots-size), transparent var(--dots-size));
  background-size: var(--dots-space) var(--dots-space);
}

.dark .bg-dots {
  --dots-color: #ffffff14;
}

html.dark {
  background-color: #09090b;
}



.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
}